body {
    font-family: 'Arial', sans-serif;
    color:#533e2d;
    background-color: #ddca7d;
}
h2 {
    grid-column: 1 / -1;
}
/* Navigation */
nav {
    z-index: 3;
    position: sticky;
    top: 0;
}
nav ul {
	display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 15vw;
    list-style-type: none;
}
nav ul li {
    text-align: center;
    border: 5px solid #533e2d;
    color: inherit;
    background-color: #a27035;
    border-radius: 20px;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}
/* Production */
#production {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}
div.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    border: 5px solid #533e2d;
    border-radius: 20px;
    background-color: #a27035;
}
div.product h1 {
    grid-row: 0;
    grid-column: 2;
}
/* Ressource */
#ressource {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    align-items: start;
}
div.ressource {
    padding: 5px;
    border: 5px solid #533e2d;
    border-radius: 20px;
    background-color: #a27035;
}
/* Autoclicker */

/* Inclassable */
button {
    background-color: #a27035;
    color: #ddca7d;
    border: 5px solid #533e2d;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}